.pokemon-img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.name {
  text-align: center;
  text-transform: uppercase;
}

:host ::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}

.mat-table {
  width: 600px;
  margin: 0 auto;
}

.level-header,
.move-level {
  text-align: right;
}
